/* CSS Style For Huddle Landing Page Solution */

/* A Mobile First Approch */

:root {
  --color-violet: hsl(257, 40%, 49%);
  --color-magenta: hsl(300, 69%, 71%);
}
/* Defult Style For All Element */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This will Overide browers
 Default style for Anchor Tags */
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* Default font for all Heading Tags */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body {
  background: var(--color-violet);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #ffffff;
}

.container {
  background: url(/images/bg-mobile.svg) no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  padding: 2rem;
}

.logo {
  align-self: flex-start;
  width: 30%;
}

.illustration img {
  margin: 3rem 0 1.5rem 0;
  width: 100%;
}

header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Itro Section */
.intro-heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.intro-txt {
  text-align: center;
  margin: 0 auto;
  font-size: 1.15rem;
  line-height: 1.5;
}

/* Register Button */
.take-action {
  margin: 2rem 0;
}

.take-action a {
  background-color: #ffffff;
  display: block;
  height: 45px;
  width: 200px;
  border-radius: 50px;
  padding: 0.6rem;
  font-size: 1rem;
  color: #807e7e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.take-action a:hover,
.take-action a:active {
  background-color: var(--color-magenta);
}

/* Social Media Section */
.social-media {
  justify-self: flex-end;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  height: 35px;
  width: 35px;
  font-size: 0.8rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.links a:hover,
.links a:active {
  border-color: var(--color-magenta);
  color: var(--color-magenta);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 0.5rem;
  visibility: hidden;
}
.attribution a {
  color: var(--color-magenta);
}

/* Desktop Styling */

@media (min-width: 1200px) {
  .container {
    background: url(/images/bg-desktop.svg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
  }

  .intro {
    justify-self: center;
    margin-top: auto;
  }
  .intro-heading,
  .intro-txt {
    text-align: left;
  }

  .take-action {
    align-self: flex-start;
  }

  .social-media {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 0;
  }

  .attribution {
    visibility: visible;
  }
}
